/* Estilos para a barra de navegação inferior */
#map-container {
	width: 100%;
	height: calc(100vh - 50px);
}

.centered-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 10px;
	min-height: 80vh;
}

.centered-container-top {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
}

.emoji {
	font-size: 40px;
	margin-right: 5px;
}

.centered-container-text {
	margin: 15px;
	text-align: center;
}

.bottom-nav {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	will-change: transform;
	transform: translateZ(0);
	display: flex;
	gap: 5px;
	height: 50px;
	box-shadow: 0 -2px 5px -2px #333;
	background-color: #ffffff;
	cursor: pointer;
}

/* Estilos para os itens da barra de navegação inferior */
.bottom-nav-item {
	flex-grow: 1;
	text-align: center;
	font-size: 12px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.bottom-nav-item-content {
	display: flex;
	flex-direction: column;
	font-size: 25px;
}

.bottom-nav-item-content p {
	font-size: 10px;
	margin-bottom: 1px;
}

.bottom-nav-item-content a {
	text-decoration: none;
}

/* Estilos para elementos ativos */
.active {
	color: red;
	transition: color 1.5s ease;
}

.active:hover {
	color: #530101;
}

.main-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

/* Estilos para evitar sobreposição do menu e conteúdos */
.no-overlap {
	margin-bottom: 50px;
}

.content-item {
	background-color: blue;
	display: flex;
	flex-direction: row;
	width: 80%;
}

.no-padding {
	padding-left: 0;
	padding-right: 0;
}

/* Estilos para a seção de conteúdos */
.conteudos {
	width: 95%;
	margin: 10px auto;
}

.conteudos h3 {
	text-align: center;
	font-family: "Roboto", sans-serif;
	font-weight: bold;
}

.conteudos-item {
	background-color: #000000;
	margin-bottom: 20px;
	border: 1px solid #242424;
	border-radius: 40px;
	color: #ffffff;
}

.conteudos-item .conteudos-title {
	cursor: pointer;
	padding: 10px;
	transition: transform 0.4s ease-in-out;
	display: flex;
	align-items: center;
	justify-content: center;
}

.conteudos-item .conteudos-title.active-title {
	background-color: #7a7a7a;
	color: #ffffff;
	border-top-left-radius: 40px;
	border-top-right-radius: 40px;
}

.conteudos-item .conteudos-title h3 {
	font-weight: 700;
	margin: 0;
	font-size: 18px;
	display: flex;
	justify-content: space-between;
	font-weight: bold;
}

.conteudos-item .conteudos-title i.bi-chevron-down {
	transform: rotate(0);
	transition: 0.4s;
}

.conteudos-item .conteudos-title i.bi-chevron-down.chevron-top {
	transform: rotate(-180deg);
	color: #fa5019;
}

.conteudos-item .conteudos-content {
	display: none;
	line-height: 1.7;
	padding: 20px;
	background-color: #ffffff;
	border-radius: 0 0 40px 40px;
	color: #100e34;
}

.conteudos-item .conteudos-content.active {
	display: block;
}

.conteudos-item .conteudos-content p {
	margin: 0;
	font-family: "Nunito Sans", sans-serif;
	font-size: 16px;
}

.page-title {
	text-align: center;
	margin-top: 30px;
}

.page-title-header {
	font-size: 50px;
}
.racismReport {
	padding: 10px;
	max-width: 100vw;
	margin: 0 auto;
}

.form-footer,
.modal-footer {
	margin-top: 20px;
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.form-button {
	display: flex;
	flex-direction: row;
	gap: 10px;
}
.row {
	margin-bottom: 5px;
	max-width: 100vw;
}
.btnRecebeLocalizacao {
	border-radius: 10px;
}
